
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fdeff6;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #333;
  font-size: 5rem;
}

button {
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Righteous', sans-serif;
  margin-top: 40px;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px 2px gray;
}

button:hover {
  background-color: #0a0a0a;
  color: #ffffff;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

input[type='text'] {
  padding: 10px;
  border: 2px solid #090909;
  border-radius: 5px;
  margin: 20px;
  width: 160px;
  outline: none;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
}

.box {
  text-align: center;
  font-size: 70px;
}

.grid-cell {
  border: 5px solid #ccc;
}

.hidden {
  display: none;
}

.border-top {
  border-top: none;
}

.border-bottom {
  border-bottom: none;
}

.border-left {
  border-left: none;
}

.border-right {
  border-right: none;
}

.win-message {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 1.85rem;
  text-transform: capitalize;
}

#restart-button {
  background-color: #333;
  border: 3px solid #333;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Righteous', sans-serif;
  margin-top: 40px;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}
#restart-button:hover {
    background-color: #0a0a0a;
    color: #ffffff;
  }

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 3rem;
  }

  input[type='text'] {
    width: 80%;
    margin: 10px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 4rem;
  }

  input[type='text'] {
    width: 60%;
    margin: 10px 0;
  }
}
@media screen and (min-width: 769px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 5rem;
  }

  input[type='text'] {
    width: 40%;
    margin: 20px;
  }
}